doctype
html
  head
    meta(charset='UTF-8')
    title peel
    link(href="favicon.ico", rel="icon", type="image/png")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    //- link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
      
  body
    section#js-main.main
      .box
        .box__item.box__item--base
        .box__item.box__item--left
        .box__item.box__item--right
        .box__item.box__item--top
        .box__item.box__item--bottom
        .box__item.box__item--shadow
      a(href="http://twitter.com/legomushroom").box-icon.box-icon--one#js-icon1
        .box-icon__content
          include css/i/twitter-icon.svg
        .box-icon__shadow
      a(href="http://dribbble.com/sol0mka").box-icon.box-icon--two#js-icon2
        .box-icon__content
          include css/i/dribbble-icon.svg
        .box-icon__shadow
      a(href="http://github.com/legomushroom").box-icon.box-icon--three#js-icon3
        .box-icon__content
          include css/i/github-icon.svg
        .box-icon__shadow

      .cover-place#js-cover-place
        .cover#js-cover
          .cover__item.cover__item--base
            .cover__item__shadow#js-base-shadow
          .cover__item.cover__item--left
          .cover__item.cover__item--bottom
            .cover__item__shadow#js-bottom-shadow

      .peel-item.peel-item--left#js-left-peel
        .peel-item__bg
          .peel-item__bg__inner#js-left-inner
        .peel-item__white
        .peel-item__gradient
      .peel-item.peel-item--right#js-right-peel
        .peel-item__bg
          .peel-item__bg__inner#js-right-inner
        .peel-item__white
        .peel-item__gradient

      .line-item.line-item--hor#js-line1
      .line-item.line-item--vert#js-line2
        .bow
          .bow__content

          .threads
            .thread-left
              .thread-left__content
            .thread-right
              .thread-right__content

          a(href="http://blog.legomushroom.com").tag#js-tag
            .tag__content
            .tag__text blog.legomushroom.com

      .scroll-suggest#js-scroll-suggest
        .scroll-suggest__content
      .scroll-suggest.scroll-suggest--mask#js-scroll-suggest-mask
        .scroll-suggest__content

      //- .curtain#js-curtain


    //- <div class="sol0mka-learn-more"><style>.sol0mka-learn-more{position: fixed;top: 0;right: 10px;position: fixed;}.sol0mka-learn-more__link{width: 80px;padding-bottom: 120%;background: #3478bd url('http://blog.legomushroom.com/learn-more.png') no-repeat center center;background-size: 70% auto;display: block;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;}.sol0mka-learn-more__link:hover{background-color: #387fc7;}@media all and (max-width:1440px){.sol0mka-learn-more__link{width: 60px;}}@media all and (max-width:1280px){.sol0mka-learn-more__link{width: 50px;}@media all and (max-width:505px){.sol0mka-learn-more__link{display: none;}}@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi){.sol0mka-learn-more__link{background: #3478bd url('http://blog.legomushroom.com/learn-more@2x.png') no-repeat center center;background-size: 53px 75px;background-size: 70% auto;}}</style><a href="#" title="learn more" class="sol0mka-learn-more__link"></a></div>

    script(src="js/jquery-2.1.0.min.js")
    script(src="js/jquery.superscrollorama.js")
    script(src="js/iscroll.js")
    script(src="js/tweenmax.min.js")
    script(src="js/main.js")
