// BLOCKS
@import '../assets/imports.styl'

size = 20px
.box-icon
	width 100px
	padding-bottom 100%
	display block
	position relative
	top -50%
	// left 50%
	//margin-top -(size/2)
	cursor pointer
	background pink

	// &__icon
	// 	background pink
	// 	rect 

	// &--twitter
	// 	background url('i/twitter-icon.svg') no-repeat center center
	// 	margin-left - width

// body
// 	background-image: -o-linear-gradient(179deg, #EFEFEF 0%, #F3F3F3 100%);
// 	background-image: -moz-linear-gradient(179deg, #EFEFEF 0%, #F3F3F3 100%);
// 	background-image: -webkit-linear-gradient(179deg, #EFEFEF 0%, #F3F3F3 100%);
// 	background-image: -ms-linear-gradient(179deg, #EFEFEF 0%, #F3F3F3 100%);
// 	background-image: linear-gradient(89deg, #EFEFEF 0%, #F3F3F3 100%);

margin = 12px
.box
	transform-style preserve3d
	position absolute
	nw margin
	se margin
	perspective 1000px
	
	&__item
		position absolute
		// background rgba(0,0,0,.2)
		// box-shadow inset 0 0 120px rgba(0,0,0,.04)
		&:after
			content ''
			// hl green
			position absolute
			nw 0
			rect 100%
			background url('i/shadow-mask.png') no-repeat center center
			opacity .12
			background-size 100% 100%
		&--shadow
			height 100%
			width 100%
			background url('i/box-shadow.png') no-repeat left center
			background-size auto 100%
			@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi)
				background url('i/box-shadow@2x.png') no-repeat left center
				background-size auto 100%
			box-shadow none
			&:after
				display none
		&--base
			left 12.95%
			right 12.95%
			top 12.95%
			bottom 12.95%
			background: #e3e3e3; /* Old browsers */
			background: -moz-linear-gradient(left,  #dfdfdf 0%, #ededed 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#dfdfdf), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #dfdfdf 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #dfdfdf 0%,#ededed 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #dfdfdf 0%,#ededed 100%); /* IE10+ */
			background: linear-gradient(to right,  #dfdfdf 0%,#ededed 100%); /* W3C */
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#ededed',GradientType=1 ); /* IE6-9 */
			&:after
				display none

		&--left
			nw 0
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #e1e1e1 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#e1e1e1 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#e1e1e1 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#e1e1e1 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#e1e1e1 100%); /* W3C */			
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=1 ); /* IE6-9 */
		&--right
			ne 0
			background-image: -o-linear-gradient(0deg, #FFFFFF 0%, #e8e8e8 100%);
			background-image: -moz-linear-gradient(0deg, #FFFFFF 0%, #e8e8e8 100%);
			background-image: -webkit-linear-gradient(0deg, #FFFFFF 0%, #e8e8e8 100%);
			background-image: -ms-linear-gradient(0deg, #FFFFFF 0%, #e8e8e8 100%);
			background-image: linear-gradient(-90deg, #FFFFFF 0%, #e8e8e8 100%);
			&:after
				// display none
				opacity .02
		&--left, &--right
			height 100%
			width  12.95%
		&--top
			transform rotateX(-75.5deg)
			transform-origin 50% top
			nw 0
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top,  #ffffff 0%, #e1e1e1 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #ffffff 0%,#e1e1e1 100%); /* W3C */
			&:after
				transform rotate(180deg)
				opacity .01
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
		&--bottom
			transform rotateX(75.5deg)
			transform-origin 50% bottom
			sw 0
			background-image: -o-linear-gradient(90deg, #FFFFFF 0%, #E1E1E1 100%);
			background-image: -moz-linear-gradient(90deg, #FFFFFF 0%, #E1E1E1 100%);
			background-image: -webkit-linear-gradient(90deg, #FFFFFF 0%, #E1E1E1 100%);
			background-image: -ms-linear-gradient(90deg, #FFFFFF 0%, #E1E1E1 100%);
			background-image: linear-gradient(0deg, #FFFFFF 0%, #E1E1E1 100%);
			&:after
				transform rotate(180deg)
				opacity .01
		&--top, &--bottom
			height 360px
			width 100%


.scroll-suggest
	background url('i/scroll-suggest.svg') no-repeat center center
	width 13px
	height 19px
	position absolute
	bottom 20px
	left 50%

.text
	fill white
	font-size 22px
	white-space nowrap
	font-family 'Open Sans'
	text-transform uppercase
	&--label
		font-size 13px


.svg-container
	padding-bottom 70.3125%
	position relative
	&__content
		position absolute
		rect 100%
		overflow hidden
		svg 
			rect 100%

