// PEEL
@import '../assets/imports.styl'

.peel-item
	height 100%
	width 50%
	top 0
	background #65B7DF
	// background dribbbleColor
	position absolute
	z-index 20
	&__white, &__gradient
		background white
		height 100%
		position absolute
		top 0
	&__white
		box-shadow 2px 2px gs rgba(0,0,0,.1), gs (- gs) 3*gs rgba(0,0,0,.1)
	&__gradient
		max-width 10*gs
	&--left
		left 0
		.peel-item__white, .peel-item__gradient
			right 0
		.peel-item__gradient
			background: rgb(255,255,255); /* Old browsers */
			background: -moz-linear-gradient(left,  rgba(255,255,255,1) 2%, rgba(230,230,230,1) 71%, rgba(238,238,238,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(2%,rgba(255,255,255,1)), color-stop(71%,rgba(230,230,230,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 2%,rgba(230,230,230,1) 71%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  rgba(255,255,255,1) 2%,rgba(230,230,230,1) 71%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  rgba(255,255,255,1) 2%,rgba(230,230,230,1) 71%,rgba(238,238,238,1) 100%); /* IE10+ */
			background: linear-gradient(to right,  rgba(255,255,255,1) 2%,rgba(230,230,230,1) 71%,rgba(238,238,238,1) 100%); /* W3C */
			.ie9 &
				background url('i/gradient-ie-fix-left.svg') no-repeat left top
				background-size 100% 100%
	&--right
		left 50%
		.peel-item__white, .peel-item__gradient
			left 0
		.peel-item__gradient
			background: rgb(238,238,238); /* Old browsers */
			background: -moz-linear-gradient(left,  rgba(238,238,238,1) 0%, rgba(230,230,230,1) 29%, rgba(255,255,255,1) 98%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,238,238,1)), color-stop(29%,rgba(230,230,230,1)), color-stop(98%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(230,230,230,1) 29%,rgba(255,255,255,1) 98%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(230,230,230,1) 29%,rgba(255,255,255,1) 98%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(230,230,230,1) 29%,rgba(255,255,255,1) 98%); /* IE10+ */
			background: linear-gradient(to right,  rgba(238,238,238,1) 0%,rgba(230,230,230,1) 29%,rgba(255,255,255,1) 98%); /* W3C */
			.ie9 &
				background url('i/gradient-ie-fix.svg') no-repeat left top
				background-size 100% 100%